img {

    height: 200px;
    width: 200px;
}

#red{
    color: red;
}

#blue{
    color:blue;
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: yellow;
}

.color-dash-title{
    font-weight: normal;
}

/*Here font-weight is property and the normal is value*/